@font-face {
  font-family: 'Optima';
  src: url('optima.ttf')  format('truetype');
}

html {
  font-family: 'Optima';
}

svg {
    font-size: 10px;
    shape-rendering: crispEdges;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
  }
 
  path.domain {
    stroke: none;
  }
 
  .y .tick line {
    stroke: #ddd;
  }

  .slidecontainer {
    width: 90%; /* Width of the outside container */
    height: 70%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 30px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #d81919;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #aa3131;
    cursor: pointer;
  }

html body {
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.top-container {
  height: 85%;
  width: 100%;
  display: flex;
}

.temp-do-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.wind-algae-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.wind-container {
  height: 33%;
  background-color: whitesmoke;
  margin: 10px;
}

.algae-container {
  height: 66%;
  background-color: whitesmoke;
  margin: 10px;
}

.bottom-container {
  height: 15%;
  display: flex;
  background-color: whitesmoke;
  margin: 10px;
}

.bottom-left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-right {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.temp-container {
  height: 75%;
  background-color: whitesmoke;
  margin: 10px;
}

.do-container {
  height: 25%;
  background-color: whitesmoke;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /*font-family: sans-serif;*/
}
.do-container .title {
  height: 25%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.do-container .do-body {
  height: 55%;
  display: flex;
  align-items: center;
}
.do-container .do-body .west {
  position: relative;
  left: 92;
  top: 0;
}
.do-container .do-body .deep {
  position: relative;
  left: 195;
  top: 0;
}
.do-container .do-body .mlo {
  position: relative;
  left: 293;
  top: 0;
}
.do-container .do-body .east {
  position: relative;
  left: 395;
  top: 0;
}
.do-container .do-body .value {
  font-size: 28px;
}
.do-container .do-body .label {
  font-size: 11px;
  color: gray;
}

.algae-value {
  font-size: 28px;
}

.algae-label {
  font-size: 11px;
}


.do-container .footer {
  height: 20%;
  display: flex;
  font-size: 16px;
  
}
.do-container .footer .west {
  position: relative;
  left: 92;
  top: 0;
}
.do-container .footer .deep {
  position: relative;
  left: 195;
  top: 0;
}
.do-container .footer .mlo {
  position: relative;
  left: 296;
  top: 0;
}
.do-container .footer .east {
  position: relative;
  left: 403;
  top: 0;
}

#current-date {
  height: 30%;
}

.title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.x-axis-label {
  font-size: 16px;
}

g .wind-box-container {
}

#chart-wind g.layer {
  transform-origin: 80px 105px;
}

.widget {
  border: 1px solid rgb(200,200,200);
  border-radius: 10px;
}