* {
  box-sizing: border-box;
}
header,
section,
footer,
nav,
article {
  display: block;
}
body {
  color: #666666;
  background-color: #f9f8f6;
  background-position: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.8em;
  margin: 0px;
}
.wrapper {
  width: 100%;
  height: 100%;
  margin: 20px auto 20px auto;
  border: 2px solid #000000;
  background-color: #f9ffff;
}
h1 {
  text-align: center;
}
nav {
  text-align: center;
  clear: both;
  color: #ffffff;
  background-color: #3f4fac;
  height: 50px;
}
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
  margin-right: 40px;
}
nav li a {
  color: #ffffff;
}
nav li a:hover,
nav li a.current {
  color: #000000;
}
section.Graphs {
  float: right;
  width: 60%;
  border-left: 1px solid #eeeeee;
}
h1,
h2 {
  font-weight: normal;
}
section.Widget {
  float: left;
  width: 40%;
  border-left: 1px solid #8377ec;
}

/*windrose*/
#chart-demo {
  height: 600px;
}

#radarChart {
  height: 500px;
}

#chart-demo > .center {
  text-align: center;
}

#chart-demo > .center > .dx-widget {
  display: inline-block;
  vertical-align: middle;
}
