html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236, 236, 236);
}

a:link, a:visited {
  background-color: #3f4fac;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
}

a:hover, a:active {
  background-color: rgb(84, 84, 202);

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.SquareBins {
    height: 300px;
    width: 322px;
    font-size: 16px;
    background-color: white;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    margin: 5px;
    padding: 5px;
}

.WaterColumn {
    float: left;
    height: 600px;
    width: 150px;
    font-size: 16px;
    background-color: white;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    margin: 5px;
    padding: 5px;

}
.DOColumn {
    float: left;
    height: 600px;
    width: 150px;
    font-size: 16px;
    background-color: white;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    margin: 5px;
    padding: 5px;

}


/* Style The Dropdown Button */
.dropbtn {
    background-color: #4c5baf;
    color: white;
    padding: 16px;
    font-size: 16px;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(84, 84, 202);
  }


#Graph1{
  height: 50%;
  width: 50%;
}
#Graph2{
  height: 50%;
  width: 50%;
}
#Graph3{
  height: 50%;
  width: 50%;
}

