html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236, 236, 236);
}

* {
  box-sizing: border-box;
}

.Header{
  background-color: #f1f1f1;

}

/*Nav Bar Content*/

.NavBar{
  background-color: #343f7a;
  border: 1px rgba(0, 0, 0, 0.555);
  padding: 15px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}
/*AWRI Link Buttons*/
a:link, a:visited {
  background-color: #3f4fac;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
}
/*AWRI Link Buttons*/
a:hover, a:active {
  background-color: rgb(84, 84, 202);

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}
/* Style The Dropdown Button For Graph*/
.dropbtn {
    background-color: #4c5baf;
    color: white;
    padding: 16px;
    font-size: 16px;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
  }

  .btn {
    background-color: #4c5baf;
    color: white;
    padding: 16px;
    font-size: 16px;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
  }

button{
  background-color:#4c5baf; /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }

  /* Links inside the dropdown */
.dropdown-content a {
    color: rgba(0, 0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(84, 84, 202);
  }

/*Main Page Content*/

.MainPage{
  width: 100%;
  float: left; /*Not sure what I can use in replace of this*/
}

.GraphBin {
  float: right;
  width: 65%;
  height: 100%;

  background-color: white;
  padding: 16px;
  font-size: 16px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.GraphFooter {
  float: bottom;
  width: 100%;
  height: 25%;

  background-color: white;
  padding: 16px;
  font-size: 16px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.TimeSlider {
  float: left;
  height: 50%;
  width: 45%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 5px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:  rgb(84, 84, 202);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:#4c5baf;
}

.DownloadData {
  float: right;
  height: 25%;
  width: 45%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;

}

.GraphLegend {
  float: right;
  height: 25%;
  width: 35%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;


  padding: 5px;
}

.NonGraphData{
  float: left;
  height: 100%;
  width: 35%;
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.WindSpeed {
  float: left;
  height: 75%;
  width: 45%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 5px;
}

.WaterColumn {
  float: left;
  height: 75%;
  width: 45%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 5px;

}


.DOColumn {
  float: left;
  height: 75%;
  width: 45%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 5px;
}

/*the inputs for the DO column are going to be put in a vertical button for now*/

.button-group-DO .button {
  background-color:  #3f4fac;
  border: 1px solid rgb(0, 2, 128);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}

.button-group-DO .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button-group-DO .button:hover {
  background-color: #3e538e;
}

.button-group-WaterTemp .button {
  background-color:  #3f4fac;
  border: 1px solid rgb(0, 2, 128);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}

.button-group-WaterTemp .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button-group-WaterTemp .button:hover {
  background-color: #3e538e;
}


.AirData {
  float: right;
  height: 25%;
  width: 45%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 5px;
}


.ChlroData{
  float: right;
  height: 25%;
  width: 45%;
  font-size: 100%;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 5px;
}


.PhycoData {
  float: right;
  height: 25%;
  width: 45%;
  font-size: 16px;
  background-color: white;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 5px;
}


/*https://www.youtube.com/watch?v=FnUkVcQ_3CQ*/

.gauge {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #343f7a;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}




