html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236, 236, 236);
}

.SquareBins {
    height: 300px;
    width: 380px;
    font-size: 16px;
    background-color: white;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;

    margin: 20px;
    padding: 20px;
}

.WaterColumn {
    float: left;
    height: 600px;
    width: 150px;
    font-size: 16px;
    background-color: white;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;

    margin: 20px;
    padding: 20px;

}


button {
    background-color: rgb(214, 214, 233);
}

