#chart-demo1 {
  height: 600px;
}

#radarChart1 {
  height: 500px;
}

#chart-demo1 > .center {
  text-align: center;
}

#chart-demo1 > .center > .dx-widget {
  display: inline-block;
  vertical-align: middle;
}

#chart-demo2 {
  height: 600px;
}

#radarChart2 {
  height: 500px;
}

#chart-demo2 > .center {
  text-align: center;
}

#chart-demo2 > .center > .dx-widget {
  display: inline-block;
  vertical-align: middle;
}
